<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Interception\Code\Generator\InterceptorInterface" type="Creatuity\Interception\Generator\CompiledInterceptor"/>
    <preference for="Magento\Setup\Module\Di\Compiler\Config\Chain\InterceptorSubstitutionInterface" type="Creatuity\Interception\Generator\CompiledInterceptorSubstitution"/>
    <type name="Magento\Setup\Module\Di\App\Task\Operation\Interception">
        <arguments>
            <argument name="interceptorGeneratorClass" xsi:type="string">Creatuity\Interception\Generator\CompiledInterceptor</argument>
        </arguments>
    </type>
</config>